body {
    background: rgb(180, 180, 180);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    text-decoration:underline;
}
/* Debut des Boutons de changement de pages */
.page-html {
    color: rgb(255, 255, 255);
    width:fit-content;
    margin-left:40%;
    border-radius: 10px;
    padding: 5px;
    text-shadow: 2px 2px 2px #000000;
    background: #B74D23;
    background: -moz-linear-gradient(left, #B74D23 0%, #EF642E 50%, #C95427 100%);
    background: -webkit-linear-gradient(left, #B74D23 0%, #EF642E 50%, #C95427 100%);
    background: linear-gradient(to right, #B74D23 0%, #EF642E 50%, #C95427 100%);
}
.page-css {
    color: rgb(255, 255, 255);
    background: #1C6EA4;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144e75 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144e75 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #2388CB 50%, #144e75 100%);
    width:fit-content;
    margin-left:40%;
    border-radius: 10px;
    padding: 5px;
    text-shadow: 2px 2px 2px #000000;
}
.page-js {
    color: #ffffff;
    background: #C68100;
    background: -moz-linear-gradient(left, #C68100 0%, #EF9B00 50%, #BE7C00 100%);
    background: -webkit-linear-gradient(left, #C68100 0%, #EF9B00 50%, #BE7C00 100%);
    background: linear-gradient(to right, #C68100 0%, #EF9B00 50%, #BE7C00 100%);
    border-radius: 10px;
    width:fit-content;
    margin-left:40%;
    padding: 5px;
    text-shadow: 2px 2px 2px #000000;
}
.myButton-CSS {
    color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, #1c6ea4 0%, #2388cb 50%, #144e75 100%); box-shadow: rgb(46, 46, 46) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;
    text-shadow: 2px 2px 2px #000000;
}
    .myButton-CSS:hover {
    background: #196394; }
    .myButton-CSS:active {
    background: #144E75;
}
.myButton-JS {
    color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(198, 129, 0) 0%, rgb(239, 155, 0) 50%, rgb(190, 124, 0) 100%); box-shadow: rgb(46, 46, 46) 5px 5px 15px 5px; border: 2px solid rgb(255, 165, 0); display: inline-block;
    text-shadow: 2px 2px 2px #000000;
}
    .myButton-JS:hover {
    background: #c58205; }
    .myButton-JS:active {
    background: #BE7C00; 
}
.myButton-HTML {
    color: rgb(239, 239, 239); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(183, 77, 35) 0%, rgb(239, 100, 46) 50%, rgb(201, 84, 39) 100%); box-shadow: rgb(46, 46, 46) 5px 5px 15px 5px; border: 2px solid rgb(239, 100, 46); display: inline-block;
    text-shadow: 2px 2px 2px #000000;
}
    .myButton-HTML:hover {
    background: #cc5527; }
    .myButton-HTML:active {
    background: #C95427; 
}
/* FIN des Boutons de changement de pages */
article {
    border: 2px solid darkslategray;
    border-radius: 10px;  
    box-shadow: 5px 5px 7px 5px rgba(0,0,0,0.35);
    margin: 15px;
    width:fit-content;
    height: fit-content;
    padding: 8px;
    background: rgb(231, 231, 231);
}
.flex-container-main {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    justify-content: center;
}
.flex-container {
    display: flex;
    flex-direction: column;
    width: fit-content;  
}
.flex-container2 {
    display: flex;
    flex-direction: column;
    width: fit-content;   
}
.flex-container3 {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
}
.flex-container4 {
    display: flex;
    flex-wrap: wrap;
}
.flex-container5 {
    display: block;
}
.flex-container5-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex-container5-2 {
    display: flex;
    flex-direction: row;
}
header > a {
    padding: 10px;
}
div a {
    margin-right:10px;
}
textarea {
    resize: none;
}
.descriptionListing > div > span {
    display: inline-block;
    font-weight: bold;
    min-width: 100px; 
    cursor: pointer;
}
/* DEBUT FOOTER */
footer a {
    width: 25px;
    height: 25px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
    border: 2px outset #FFFFFF;
    -webkit-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.57); 
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.57);
}
footer  a:hover {
    background: rgb(0, 155, 13);
}
footer {
    color: #FFF;
    height: 60px;
    text-align: center;
    width:100%;
    padding: 8px;
    text-decoration: underline;
    background-color: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
.index-footer {
    position:absolute;
    bottom:0;
    color: #FFF;
    height: 60px;
    text-align: center;
    width:100%;
    padding: 8px;
    text-decoration: underline;
    background-color: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}


/*FIN FOOTER*/
